@model List<ListBookingViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/adminLayout/Index.cshtml";
    int count = 0;
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Misafir</th>
                <th>Giriş Tarihi</th>
                <th>Çıkış Tarihi</th>
                <th>Durum</th>
                <th>Onayla</th>
                <th>İptal Et</th>
                <th>Beklet</th>
                <th>Güncelle</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.name</td>
                    <td>@(((DateTime)item.checkin).ToString("dd-MMM-yyyy"))</td>
                    <td>@(((DateTime)item.checkOut).ToString("dd-MMM-yyyy"))</td>
                    <td><span class="badge badge-primary px-2">@item.status</span></td>
                    <td><a href="/BookingAdmin/ApprovedReservation2/@item.bookingID" class="btn btn-outline-primary">Onayla</a></td>
                    <td><a href="/BookingAdmin/CancelReservation/@item.bookingID" class="btn btn-outline-danger">İptal Et</a></td>
                    <td><a href="/BookingAdmin/WaitReservation/@item.bookingID" class="btn btn-outline-warning">Beklet</a></td>
                    <td><a href="/BookingAdmin/UpdateBooking/@item.bookingID" class="btn btn-outline-info">Güncelle</a></td>
                    <td><a href="/BookingAdmin/UpdateBooking/@item.bookingID" class="btn btn-outline-dark">Detaylar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

